*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ff6464;
}
.screen{
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.logo {
    display: flex;
    align-self: center;
}

.load{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 100vh;

}

.logo>img {
    width: 180px;
    align-self: center;
}

.loading {
    align-self: center;
    width: 50px;
}